body {
	background: #FFF;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 30px;
	text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
    font-family:  Georgia, serif;
    color: #000;
	line-height: 1;
}

h2 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
    font-family: Georgia, serif;
	text-transform: lowercase;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
    margin-top: 40px;
}

p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}

a, a:visited {
	color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	list-style: none;
}

.download {
	padding: 10px;
}

pre {
	font-size: 18px;
}

blockquote {
	text-align: left;
	width: 720px;
	margin: 10px auto;
	background: #C5C3DE;
	border: solid 2px #69697A;
	padding: 0 40px;
}

code {
    background-color: #000;
	font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}

/*----------------------------------------  BLOCKS */

.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.scrollblock h2 {

}

.block-title { background-color: #FFF; padding-bottom: 50px; }
.block-title h2 { color: #000; }
.block-title .meta { font-size: 16px; color: #999; }
.block-title .meta a { font-size: 16px; color: #333; }

.block-setup { background-color: #348fd4; }
.block-setup h2 { color: #06406c; }
.block-setup h2 a { background: none; padding: 0; font-size: normal; }
.block-setup a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.block-setup a:hover { text-decoration: underline; }

.block-interface { background-color: #06406c; }
.block-interface h2 { color: #FFF; }
.block-interface p { color: #FFF; }
.block-interface code { background-color: #000; color: #FFF; }

.block-workflow { background-color: #FFF; }
.block-workflow h2 { color: #000; }

.block-justification { background-color: #4c0d09; }
.block-justification h2 { color: #d3b2af; }
.block-justification p { color: #d3b2af; }
.block-justification code { color: #000; background-color: white; }

.block-urduscript { background-color: #cc4037; }
.block-urduscript h2, .block-urduscript p { color: #4c0d09; }
.block-urduscript a { color: #d3b2af; font-size: 40px; font-weight: normal;font-style: normal; background-color: #4c0d09; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.block-urduscript a:hover { text-decoration: underline; }

.block-lesson01 { background-color: #ffc19f; }
.block-lesson01 h2 { color: #cc4037; }
.block-lesson01 h3 { color: #cc4037; }

.block-lesson02 { background-color: #000; }
.block-lesson02 h2 { color: #FFF; }
.block-lesson02 p { color: #DDD; }
.block-lesson02 code { color: #000; background-color: white; }
.block-lesson02 li { line-height: 200%; }

.block-lesson03 { background-color: #F2F2F2; }
.block-lesson03 h2 { color: #666; }

.block-lesson04 { background-color: #348fd4 ; }
.block-lesson04 h2 { color: #FFF; }
.block-lesson04 h3 { color: #FFF; }

.block-lesson05 { background-color: #fff8c9; }
.block-lesson05 h2 { color: #2d2700; }
.block-lesson05 h3 { color: #30300f; }
.block-lesson05 p { color: #615400; }

.block-lesson06 { background-color: #06406c; }
.block-lesson06 h2 { color: #FFF; }
.block-lesson06 h3 { color: #B0B0FF; }
.block-lesson06 p { color: #FFF; }
.block-lesson06 code { background-color: #000; color: #FFF; }

.block-lesson07 { background-color: #4c0d09; }
.block-lesson07 h2 { color: #FFF; }
.block-lesson07 h3 { color: #e3c2cf; }
.block-lesson07 p { color: #d3b2af; }
         
.block-lesson08 { background-color: #cc4037; }
.block-lesson08 h2 { color: #4c0d09 ; }
.block-lesson08 p { color: #4c0d09; }

.block-lesson09 { background-color: #FFF; }
.block-lesson09 h2 { color: #0f0f0f; }
.block-lesson09 h3 { color: #000; }
.block-lesson09 p { color: #181818; }

.block-lesson10 { background-color: #348fd4 ; }
.block-lesson10 h2 { color: #FFF; }
.block-lesson10 h3 { color: #FFF; }
.block-lesson10 p { color: #000; }

.block-lesson11 { background-color: #ffc19f; }
.block-lesson11 h2 { color: #cc4037; }
.block-lesson11 h3 { color: #cc4037; }

.block-lesson12 { background-color: #000; }
.block-lesson12 h2 { color: #FFF; }
.block-lesson12 p { color: #DDD; }
.block-lesson12 b { color: #ffa19f; }

.block-lesson13 { background-color: #F2F2F2; }
.block-lesson13 h2 { color: #666; }

.block-lesson14 { background-color: #348fd4 ; }
.block-lesson14 h2 { color: #FFF; }
.block-lesson14 h3 { color: #FFF; }

.block-lesson15 { background-color: #fff8c9; }
.block-lesson15 h2 { color: #2d2700; }
.block-lesson15 h3 { color: #30300f; }
.block-lesson15 p { color: #615400; }

.block-lesson16 { background-color: #4c0d09; }
.block-lesson16 h2 { color: #FFF; }
.block-lesson16 h3 { color: #e3c2cf; }
.block-lesson16 p { color: #d3b2af; }

.block-lesson17 { background-color: #06406c; }
.block-lesson17 h2 { color: #FFF; }
.block-lesson17 h3 { color: #B0B0FF; }
.block-lesson17 p { color: #FFF; }
         
.block-lesson18 { background-color: #cc4037; }
.block-lesson18 h2 { color: #4c0d09 ; }
.block-lesson18 p { color: #4c0d09; }

.block-lesson19 { background-color: #FFF; }
.block-lesson19 h2 { color: #0f0f0f; }
.block-lesson19 h3 { color: #000; }
.block-lesson19 p { color: #181818; }

.block-lesson20 { background-color: #348fd4 ; }
.block-lesson20 h2 { color: #FFF; }
.block-lesson20 h3 { color: #FFF; }
.block-lesson20 p { color: #d3b2af; }

.block-resources { background-color: #ffc19f; }
.block-resources h2 { color: #cc4037; }
.block-resources h3 { color: #7d1f19; }
.block-resources ul { list-style: disc; margin: 0; padding: 0; }
.block-resources ul li a { font-size: 24px; color: #cc4037; }

